*{
  box-sizing:border-box;
}
body{
  font-family:arial;
  display:flex;
  flex-direction:column;
  margin: 0;
  background-color: rgb(244, 244, 245);
}
a{
  text-decoration: none;
}
header{
  background-color:white;
  display: flex;
  align-items: center;
  padding: 1px ;
  height: 70px;
}
.mainlogo{
display: flex;
justify-content:space-between;
align-self: auto;
}

header ul{
list-style: none;
display: flex;
padding: 5px;
margin: 0;
}
header a{
  color: black;
}
#search{
  margin:0 auto;
  font-size: 25px;
}
#search input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-left: 60px;
  font-size: 17px;
  width: 960px;
}

.logo li{
  padding: 10px;
}
#social-links li{
  padding: 10px;
}
#main{
  display: flex;
  background-color:rgb(244, 244, 245);;

}

aside{
  margin-left:1px;
  padding: 10px;
  flex:0 0 15vw;
  background-color: rgb(23, 23, 56);

}
aside a.active {
  background-color: blue;
  color: white;
}

aside ul{
  list-style: none;
  align-self: flex-start;
}

aside ul a{
  color: rgb(158, 162, 216);
  border: 2px solid transparent;

  padding: 10px ;
  display: block;
  
}

article{
  padding: 10px;
}
.dash{
  border:1px solid #eee;
  background:rgb(244, 244, 245);
}

.dash-c img{
  height: 50px;
}

.dash-a{
  display: flex;
  justify-content: space-between;

}

.dash h2{
padding:0px;
}

.dash-box{
  width:100%;
  height: 400px;
}

.dash-box img{
  width: 100%;
  height: 100%;
}

.services-container{
  display:flex;
  justify-content: space-between;
}

.service-box{
  border:1px solid #eee;
  background: white;
  flex-basis: 32%;
  padding: 0px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.service-title img{
  width: 100%;
  height: auto;
}

.service-title li{
  padding: 0px;
  list-style: none;
}

.service-title1 li{
  padding: 0px;
  list-style: none;
  border-bottom: 1px solid ;
}


.call-to-action {
  align-self:flex-start ;
  margin-top: auto;
}

.call-to-action a{
  background: gray;
  border: 2px solid transparent;
  color: #fff;
  padding: 8px 13px;
  display: block;
}

.call-to-action a:hover{
  color: grey;
  background:transparent;
  border: 2px solid gray;
}


.forms input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;      
}

.forms input[type=submit] {
width: 10%;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}





/*  to-do-container  */
.service-box1{
  border:1px solid #eee;
  background: white;
  flex-basis: 32%;
  padding: 0px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 225, 241);

}
.to-do-container{
  padding:10px;
  background-color: rgb(226, 225, 241);
}

.service-title1{
  background-color: rgb(226, 225, 241);
}


.child{
border: 1px solid white;
padding: 5px;
margin-bottom: 10px;
background-color: white;
}

/*  child   */

.child1{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.child3{
  display:flex;
  justify-content: space-between;
}

.child4{
  display: flex;
  justify-content: space-between;
  padding: 1px;
}



.filter{
display: flex;
justify-content: space-between;
}
.filter2 img{
  margin-top: 20px;
}